:root {
  --cyan: #c8effe;
  --golden: #ffe74f;
  --teal: #3c87a6;
  --teal-lighter: #469ec4;
  --bg: #000000;
}

.color-cyan {
  color: var(--cyan);
}

.color-golden {
  color: var(--golden);
}

.color-teal {
  color: var(--teal);
}
