@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import "common.css";

html body {
  font-family: "Quicksand", sans-serif;
  background-color: var(--bg) !important;
  background-image: url("../../../static/bg.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 70% 300px;
}

code {
  font-family: "PT Mono", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

.not-found {
  color: var(--golden);
}

.home {
  /* padding: 0 0 0 0; */
  max-width: 800px;
  color: var(--cyan);
}

.custom-link {
  color: var(--teal);
  text-decoration: none;
}
.custom-link:hover {
  color: var(--teal-lighter) !important;
}
.try-it-link {
  color: var(--teal);
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  margin: 4px 0 0 0;
}
.try-it-link:hover {
  color: var(--teal-lighter) !important;
}

.logo {
  margin: 0 0 0 0;
}
.img-logo {
  width: 100%;
}

.intro {
  margin: 50px 0 20px 0;
}
.intro-main {
  font-size: 48px;
}
.intro-sub {
  font-size: 16px;
}

.copyright {
}
